In [1]:
%matplotlib notebook
#For jupyter Notebook

In [2]:
#Libraries and Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#import datetime

In [3]:
#point to the csv
file_to_load = 'IRAhandle_tweets_13.csv'
#read csv into a pandas dataframe
df_file = pd.read_csv(file_to_load)
df_file.head(2)

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,...,account_type,retweet,account_category,new_june_2018,alt_external_id,tweet_id,article_url,tco1_step1,tco2_step1,tco3_step1
0,2589513234,ZUBOVNIK,'@imerkouri 1) считать своих потенциальных изб...,Unknown,Russian,9/14/2015 7:57,9/14/2015 7:57,3563,22625,13188,...,Russian,0,NonEnglish,0,2589513234,643332738230165504,http://twitter.com/zubovnik/statuses/643332738...,NaN,NaN,NaN
1,2589513234,ZUBOVNIK,Европейское будущее оказалось не таким уж и сы...,Unknown,Russian,9/14/2015 8:18,9/14/2015 8:57,3563,22629,13193,...,Russian,0,NonEnglish,0,2589513234,643338084470403072,http://twitter.com/zubovnik/statuses/643338084...,https://twitter.com/zubovnik/status/6433380844...,NaN,NaN

In [54]:
df_data = pd.DataFrame(df_file[['tweet_id',
                   'external_author_id',
                   'author',
#                  'content',
#currently don't care about content
                   'region',
                   'language',
                   'publish_date',
                   'following',
                   'followers',
                   'account_type',
                   'retweet',
                   'account_category'
                  ]])
df_data.head()

,tweet_id,external_author_id,author,region,language,publish_date,following,followers,account_type,retweet,account_category
0,643332738230165504,2589513234,ZUBOVNIK,Unknown,Russian,9/14/2015 7:57,3563,22625,Russian,0,NonEnglish
1,643338084470403072,2589513234,ZUBOVNIK,Unknown,Russian,9/14/2015 8:18,3563,22629,Russian,0,NonEnglish
2,643346083121364992,2589513234,ZUBOVNIK,Unknown,Russian,9/14/2015 8:50,3563,22629,Russian,0,NonEnglish
3,643347984252538880,2589513234,ZUBOVNIK,Unknown,Russian,9/14/2015 8:58,3563,22629,Russian,0,NonEnglish
4,643355983222284288,2589513234,ZUBOVNIK,Unknown,Russian,9/14/2015 9:29,3563,22629,Russian,0,NonEnglish

In [40]:
df_data['publish_date'].head()

0    9/14/2015 7:57
1    9/14/2015 8:18
2    9/14/2015 8:50
3    9/14/2015 8:58
4    9/14/2015 9:29
Name: publish_date, dtype: object

In [53]:
# build data frame with selected columns
troll_df = pd.DataFrame(df_file[['external_author_id', 
                              'author', 
                              'content', 
                              'region', 
                              'language', 
                              'publish_date',
                              'following', 
                              'followers',
                             'account_type',
                             'account_category',
                             'retweet',
                             'tweet_id']])


# make publish date field a date field
troll_df['publish_date'] = troll_df['publish_date'].str.split(' ', expand=True)
troll_df['publish_date'] = pd.to_datetime(troll_df['publish_date'])
troll_df.head()

,external_author_id,author,content,region,language,publish_date,following,followers,account_type,account_category,retweet,tweet_id
0,2589513234,ZUBOVNIK,'@imerkouri 1) считать своих потенциальных изб...,Unknown,Russian,2015-09-14,3563,22625,Russian,NonEnglish,0,643332738230165504
1,2589513234,ZUBOVNIK,Европейское будущее оказалось не таким уж и сы...,Unknown,Russian,2015-09-14,3563,22629,Russian,NonEnglish,0,643338084470403072
2,2589513234,ZUBOVNIK,Порошенко назвал кандидатуру Саакашвили на пос...,Unknown,Russian,2015-09-14,3563,22629,Russian,NonEnglish,0,643346083121364992
3,2589513234,ZUBOVNIK,"Яшин настолько разочарован, что к посту с опра...",Unknown,Russian,2015-09-14,3563,22629,Russian,NonEnglish,0,643347984252538880
4,2589513234,ZUBOVNIK,Беглый актер Пашинин призвал устраивать теракт...,Unknown,Russian,2015-09-14,3563,22629,Russian,NonEnglish,0,643355983222284288

In [55]:
df_data['publish_date'] = df_data['publish_date'].str.split(' ', expand=True)
df_data.head()

,tweet_id,external_author_id,author,region,language,publish_date,following,followers,account_type,retweet,account_category
0,643332738230165504,2589513234,ZUBOVNIK,Unknown,Russian,9/14/2015,3563,22625,Russian,0,NonEnglish
1,643338084470403072,2589513234,ZUBOVNIK,Unknown,Russian,9/14/2015,3563,22629,Russian,0,NonEnglish
2,643346083121364992,2589513234,ZUBOVNIK,Unknown,Russian,9/14/2015,3563,22629,Russian,0,NonEnglish
3,643347984252538880,2589513234,ZUBOVNIK,Unknown,Russian,9/14/2015,3563,22629,Russian,0,NonEnglish
4,643355983222284288,2589513234,ZUBOVNIK,Unknown,Russian,9/14/2015,3563,22629,Russian,0,NonEnglish

In [38]:
df_data['publish_date'].head()

0    9/14/2015
1    9/14/2015
2    9/14/2015
3    9/14/2015
4    9/14/2015
Name: publish_date, dtype: object

In [29]:
df_data.loc[0,'publish_date'] = 'b'
df_data['publish_date'].head()

C:\Users\adamz\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

0    b
1    A
2    A
3    A
4    A
Name: publish_date, dtype: object

In [7]:
#I want to create a Column for election_timeframe
#Options being before, durring, and after
#The cutoff for before will be the February 1st 2016, the first day of primaries for 2016 election
#The cutoff for after will be after inauguration. January 20th 2017
df_data.loc[:,'publish_date'] = pd.to_datetime(df_data.loc[:,'publish_date'])
#gives an error, but stil evaluated. the publish_date column is now a pandas timestamp
before = (df_data['publish_date'] > pd.to_datetime('6/30/2015')) & (df_data['publish_date'] <= pd.to_datetime('3/1/2016')) 
during = (df_data['publish_date'] > pd.to_datetime('3/1/2016'))  & (df_data['publish_date'] <= pd.to_datetime('12/1/2016'))
after = (df_data['publish_date'] > pd.to_datetime('12/1/2016')) & (df_data['publish_date'] < pd.to_datetime('7/1/2017'))

df_data.loc[before, "time_period"] = 'Pre-election'
df_data.loc[during, "time_period"] = 'Election season'
df_data.loc[after, "time_period"] = 'Post-election'
df_data.head()

C:\Users\adamz\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s
C:\Users\adamz\Anaconda3\lib\site-packages\pandas\core\indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)

,tweet_id,external_author_id,author,region,language,publish_date,following,followers,account_type,retweet,account_category,time_period
0,643332738230165504,2589513234,ZUBOVNIK,Unknown,Russian,2015-09-14,3563,22625,Russian,0,NonEnglish,Pre-election
1,643338084470403072,2589513234,ZUBOVNIK,Unknown,Russian,2015-09-14,3563,22629,Russian,0,NonEnglish,Pre-election
2,643346083121364992,2589513234,ZUBOVNIK,Unknown,Russian,2015-09-14,3563,22629,Russian,0,NonEnglish,Pre-election
3,643347984252538880,2589513234,ZUBOVNIK,Unknown,Russian,2015-09-14,3563,22629,Russian,0,NonEnglish,Pre-election
4,643355983222284288,2589513234,ZUBOVNIK,Unknown,Russian,2015-09-14,3563,22629,Russian,0,NonEnglish,Pre-election

In [8]:
#point to the csv
#file_to_load = 'IRAhandle_tweets_1.csv'
#read csv into a pandas dataframe
#df_file = pd.read_csv(file_to_load)
#select columns of interest for dataframe#
#df_data = df_file[['tweet_id',
 #                  'external_author_id',
  #                 'author',
   #                'region',
    #               'language',
     #              'publish_date',
      #             'following',
       #            'followers',
        #           'account_type',
         #          'retweet',
          #         'account_category'
           #       ]]
#Convert publish date to pandas timestamp format
#df_data.loc[:,'publish_date'] = pd.to_datetime(df_data.loc[:,'publish_date'])
#gives an error, but stil evaluated. the publish_date column is now a pandas timestamp
#create series for before during and after
#before = (df_data['publish_date'] > pd.to_datetime('6/30/2015')) & (df_data['publish_date'] <= pd.to_datetime('3/1/2016')) 
#during = (df_data['publish_date'] > pd.to_datetime('3/1/2016'))  & (df_data['publish_date'] <= pd.to_datetime('12/1/2016'))
#after = (df_data['publish_date'] > pd.to_datetime('12/1/2016')) & (df_data['publish_date'] < pd.to_datetime('7/1/2017'))
#fill new column 'time_period' with rows from series before during and after
#df_data.loc[before, "time_period"] = 'Pre-election'
#df_data.loc[during, "time_period"] = 'Election season'
#df_data.loc[after, "time_period"] = 'Post-election'
#df_data.head()

In [9]:
df_data.count()

tweet_id              20894
external_author_id    20894
author                20894
region                20894
language              20894
publish_date          20894
following             20894
followers             20894
account_type          20894
retweet               20894
account_category      20894
time_period           18966
dtype: int64